$color: #ea4c14;
$title25: 700 2.8em/1em "BebasNeue";

// font

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.6px solid #e3e2e2;
  background-color: #222224;
  z-index: 99;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    width: 186px;
    height: 60%;
    margin: 0.9rem 0;
  }

  .media__logo {
    display: none;
    height: 37px;
    gap: 7px;
    margin: 0.9rem 0;

    img:last-of-type {
      align-self: flex-end;
      height: 20px;
      padding-bottom: 5px;
    }
  }

  &__connect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;

    a:last-of-type {
      font-size: 0.9em;
    }
  }

  &__connect a:hover {
    color: $color;
  }

  &__dropnav {
    display: none;
    position: relative;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &__dropmenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    height: 0px;
    background-color: #222224;
    overflow: hidden;
    transition: all 1s ease-in-out;

    li {
      margin-bottom: 0.6rem;
    }
  }

  &__container::after {
    content: "Бесплатная консультация";
    position: absolute;
    top: 101%;
    right: -5px;
    width: 250px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    background-color: $color;
    border-radius: 0 0 6px 6px;
  }

  @media (max-width: 1600px) {
    &__container {
      gap: 0.8rem;
    }
  }

  @media (max-width: 1280px) {
    .header__connect {
      display: none;
    }
  }

  @media (max-width: 980px) {
    .menu {
      display: none;
    }

    .header__dropnav {
      display: block;
    }

    .header__dropnav:hover .header__dropmenu {
      display: block;
      height: 320px;
      padding: 10px;

      li:hover {
        color: $color;
      }
    }

    &__container::after {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__logo {
      display: none;
    }

    .media__logo {
      display: flex;
    }
  }

  @media (max-width: 480px) {
    .media__logo {
      height: 20px;

      img:last-of-type {
        display: none;
      }
    }

    .header__dropnav:hover .header__dropmenu {
      height: 250px;
    }
  }
}

.services {
  padding: 9.3rem 0;
  overflow-x: hidden;

  &__visual {
    display: flex;
    width: 160%;
    height: max-content;
    gap: 3.75rem;
    margin-bottom: 6.35rem;

    .visual__content {
      align-self: flex-end;
      width: 424px;

      .visual__title {
        width: 85%;
        margin-bottom: 1.25rem;
        font: 700 3.9em/1em "BebasNeue";
      }

      .visual__txt {
        margin-bottom: 2.5rem;
        letter-spacing: 0.02rem;
      }

      .visual__btn {
        margin-right: 1rem;
      }
    }

    .visual__imgs {
      display: flex;
      gap: 1.1rem;

      img {
        border-radius: 10px;
        object-fit: cover;
      }

      .img-1 {
        position: relative;
        width: 55%;

        &::after {
          content: "Жилые комплексы";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 68px;
          padding-right: 1rem;
          font: 700 1.7em/1.35em "BebasNeue";
          writing-mode: vertical-rl;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.3);
          transform: rotate(180deg);
          border-radius: 0px 10px 10px 0px;
        }
      }

      .img-2 {
        position: relative;
        width: 50%;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        }

        &::after {
          content: "Архутектура";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 68px;
          padding-right: 1rem;
          font: 700 1.7em/1.35em "BebasNeue";
          writing-mode: vertical-rl;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.3);
          transform: rotate(180deg);
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
  }

  &__content {
    margin-bottom: 8rem;

    .content__title {
      margin-bottom: 4rem;
      font: 700 2.8em/1.36em "BebasNeue";
    }

    .content__cards {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      .content__card {
        display: grid;
        grid-template-columns: max-content 1fr;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        padding: 2.5rem 0.5rem 2.5rem 1.5rem;
        background-color: #191919;
        border: 2px solid #464646;
        border-radius: 5px;

        .card__img {
          height: 3.5rem;
        }

        .card__title {
          font-size: 1.2em;
          line-height: 1.2em;
        }
      }
    }

    @media (max-width: 1600px) {
      .content__cards {
        grid-template-columns: repeat(2, 1fr);

        .content__card {
          grid-template-columns: max-content 1fr;
        }
      }
    }

    @media (max-width: 980px) {
      .content__cards {
        grid-template-columns: 1fr;

        .content__card {
          grid-template-columns: 200px 1fr;
        }
      }
    }
  }

  &__prices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .services__price {
      position: relative;
      align-items: center;
      padding: 0 0.5rem;
      text-align: center;
      border-right: 1px solid #515151;
      border-bottom: 1px solid #9b9b9b;

      .price__title {
        margin-bottom: 1rem;
        font: 700 1.55em/1.1em "BebasNeue";

        span {
          color: $color;
        }
      }

      h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 14px;
        height: 1px;
        background-color: #515151;
        transform: rotate(90deg);
        transform-origin: left;
      }

      .arrow::before {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 0;
        width: 15px;
        height: 1px;
        background-color: #515151;
        transform: rotate(90deg);
        transform-origin: left;
      }

      .arrow::after {
        content: "";
        position: absolute;
        right: -14px;
        bottom: 0;
        width: 24px;
        height: 3px;
        background-color: #515151;
        transform: rotate(-45deg);
        transform-origin: center;
      }
    }

    .services__price:first-of-type {
      border-left: 1px solid #515151;
    }

    .services__price:first-of-type::after {
      content: "";
      position: absolute;
      left: -15px;
      bottom: -1px;
      width: 15px;
      height: 1px;
      background-color: #9b9b9b;
    }

    .services__price:last-of-type::after {
      content: "";
      position: absolute;
      right: -15px;
      bottom: -1px;
      width: 15px;
      height: 1px;
      background-color: #9b9b9b;
    }

    .services__price::before {
      content: "";
      position: absolute;
      left: -11px;
      bottom: 0;
      width: 24px;
      height: 3px;
      background-color: #515151;
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  @media (max-width: 1440px) {
    &__visual {
      width: 135%;
    }
  }

  @media (max-width: 980px) {
    &__visual {
      flex-direction: column;
      width: 100%;

      .visual__content {
        align-self: center;
        text-align: center;
        width: 75%;

        .visual__title {
          width: 100%;
          padding: 0 1rem;
        }

        .visual__btn {
          margin-right: 0px;
          margin: 0 auto;
        }
      }

      .visual__imgs {
        width: 150%;
        height: 350px;
        margin-bottom: 4.5rem;

        .img-1 {
          width: 80%;
          height: 413px;
        }

        .img-2 {
          width: 70%;
          height: 413px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .content__title {
      display: none;
    }

    &__prices {
      grid-template-columns: repeat(2, 1fr);

      .services__price:nth-child(odd) {
        border-left: 1px solid #e2e1e1;
      }

      .services__price {
        border-right: 1px solid #e2e1e1;
        border-bottom: 1px solid #e2e1e1;
        margin-bottom: 4rem;

        h4::before {
          background-color: #e2e1e1;
        }

        .arrow::before {
          background-color: #e2e1e1;
        }

        .arrow::after {
          background-color: #e2e1e1;
        }
      }

      .services__price:first-of-type {
        border-left: 1px solid #e2e1e1;
      }

      .services__price:first-of-type::after {
        background-color: #e2e1e1;
      }

      .services__price:last-of-type::after {
        background-color: #e2e1e1;
      }

      .services__price::before {
        background-color: #e2e1e1;
      }
    }
  }

  @media (max-width: 480px) {
    &__visual {
      .visual__content {
        width: 100%;

        .visual__title {
          font-size: 3.1em;
        }
      }

      .visual__imgs {
        width: 100%;
        margin-bottom: 0;

        .img-1 {
          width: 100%;
          height: 100%;
        }

        .img-2 {
          display: none;
        }
      }
    }

    &__content {
      .content__cards {
        .content__card {
          grid-template-columns: max-content 1fr;
        }
      }
    }

    &__prices {
      grid-template-columns: 1fr;

      .services__price {
        border-right: none;

        h4::before,
        .arrow::before,
        .arrow::after {
          width: 0px;
          height: 0px;
        }
      }

      .services__price:first-of-type,
      .services__price:first-of-type::after,
      .services__price:last-of-type::after,
      .services__price::before,
      .services__price:nth-child(odd) {
        border-left: none;
        background-color: #222224;
      }
    }
  }
}

.guarantees {
  position: relative;
  padding: 3rem 0;
  background-color: #171719;

  &__content {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 200px auto;
    align-items: flex-end;
    gap: 0.75rem;
    row-gap: 3rem;
    width: 40%;

    .content__row {
      height: 200px;

      .row-1 {
        display: flex;
        height: 100%;

        .img-1 {
          display: flex;
          align-items: flex-end;
          width: 140px;
          height: 100%;
          border: 2px solid #ffffff;

          img {
            height: 85px;
          }
        }

        .img-2 {
          display: flex;
          align-items: flex-end;
          width: 40px;
          height: 100%;
          background-color: $color;
          border: 2px solid $color;

          img {
            height: 40px;
          }
        }
      }
    }

    .content__txt {
      grid-column: 2/3;
      grid-row: 1/2;
      color: #a5a5a5;
      font: 400 0.9em/1.25em "Roboto";
    }

    .content__title {
      grid-column: span 2;
      font: 700 3.3em/1em "BebasNeue";
    }

    @media (max-width: 980px) {
      .content__title {
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .content__txt {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    @media (max-width: 768px) {
      .content__title {
        font-size: 2em;
      }
    }

    @media (max-width: 480px) {
      .content__row {
        height: 100%;
      }

      .content__title {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-bottom: 1rem;
        text-align: center;
      }

      .content__txt {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        font-size: 0.8em;
      }
    }
  }

  @media (max-width: 980px) {
    &__content {
      width: 100%;
      gap: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    &__content {
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 170px repeat(2, auto);
      gap: 2.4rem;
    }
  }

  &__img {
    img {
      object-fit: cover;
    }

    img:first-of-type {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
    }

    @media (max-width: 980px) {
      img {
        display: none;
      }
    }
  }

  @media (max-width: 980px) {
    &__img {
      width: 100%;

      img:last-of-type {
        width: 100%;
      }
    }
  }
}

.advantages {
  padding: 7.5rem 0;
  background-color: #2e2e31;

  &__content {
    display: grid;
    grid-template-columns: 41% 50%;
    justify-content: space-between;
    gap: 2.5rem;

    .column-1 {
      .content__title {
        position: relative;
        width: 90%;
        margin-bottom: 4.5rem;
        font: $title25;
        transition: all 0.5s linear;

        span {
          color: $color;
        }
      }

      .content__title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: 90%;
        height: 1px;
        background-color: #e3e2e2;
      }

      .content__title:last-of-type {
        margin-bottom: 0;
      }

      .content__title:last-of-type::before {
        display: none;
      }

      .content__title:active {
        padding-left: 45px;
      }

      .content__title::after {
        display: none;
        content: ">";
        position: absolute;
        top: 0;
        left: 0;
        font: 700 1em/1.2em "BebasNeue";
        transition: all 0.5s linear;
      }

      .content__title:active::after {
        display: block;
      }
    }

    .column-2 {
      position: relative;

      .content__list {
        padding: 0 4rem;
        border-left: 1px solid #9da0a3;

        li {
          position: relative;
          padding: 1.5rem 0;
          font-size: 1.2em;
          list-style: url(../img/arrow_down.svg);
          transition: all 0.5s linear;

          p {
            display: none;
            padding: 1.25rem 0;
            font: 400 0.85em/1.5em "Roboto";
          }
        }

        li::before {
          content: "";
          position: absolute;
          left: -4rem;
          bottom: 0;
          width: 120%;
          height: 1px;
          background-color: #9da0a3;
        }

        li:active {
          color: $color;
          list-style: url(../img/arrow\ down.svg);

          p {
            display: block;
            color: #efefef;
          }
        }
      }
    }

    .column-2:before {
      content: "";
      position: absolute;
      top: -150px;
      left: 0;
      width: 1px;
      height: 150px;
      background-color: #9da0a3;
    }
  }

  @media (max-width: 980px) {
    & {
      display: none;
    }
  }
}

.request {
  padding: 5rem 0;
  background-color: #222224;

  &__title {
    margin-bottom: 4rem;
    font: $title25;

    span {
      color: $color;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    text-align: center;

    .request__step {
      position: relative;

      h5 {
        margin-bottom: 0.5rem;
        color: $color;
        font: 700 2.5em/1.36em "BebasNeue";
      }

      p {
        font: 500 1.2em/1.2em "Roboto";

        span {
          color: $color;
        }
      }

      .arrow_right {
        position: absolute;
        top: 10%;
        left: 90%;
        width: 40%;
        height: 40px;
      }
    }
  }

  .request__btn {
    width: max-content;
    padding: 1rem 4rem;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
  }

  .request__btn:hover {
    background-color: $color;
  }

  @media (max-width: 980px) {
    & {
      display: none;
    }
  }
}

.projects {
  padding: 7.5rem 0;
  background-color: #2e2e31;

  &__title {
    margin-bottom: 3.2rem;
    font: $title25;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 5rem;

    .tags__menu {
      display: none;
    }

    .projects__tag {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 1.4rem;
      border: 1px solid #ffffff;
      border-radius: 6px;
    }

    .tags__btn {
      align-self: center;
      margin-left: auto;
      color: #e74214;
    }
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    
    .imgs__column {
      display: grid;
      gap: 1.5rem;

      .projects__img {
        position: relative;
        overflow: hidden;

        img {
          filter: grayscale(100%);
          transition: all 0.5s linear;
        }

        .img_back {
          display: none;
        }

        img:hover {
          filter: grayscale(0%);
          transform: scale(1.1);
        }

        .img__text {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 1rem 2rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -7.58%, rgba(0, 0, 0, 0.6) 100%);
          z-index: 2;

          h5 {
            font: 700 1.8em/1.25em "BebasNeue";
            margin-bottom: 0.5rem;
          }

          .text__tag {
            display: flex;
            align-items: center;
            width: max-content;
            height: 25px;
            gap: 0.5rem;
            font-size: 0.9em;
            line-height: 1.25em;

            div {
              padding: 0.1rem 1rem;
              border: 1px solid #ffffff;
              border-radius: 6px;
            }
          }
        }
      }

      .img_grid2 {
        display: none;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 436px;
    height: 64px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 6px;
  }

  &__btn:hover {
    background-color: $color;
  }

  @media (max-width: 980px) {
    & {
      padding: 60px 0;
      background-color: #222224;
    }

    &__title {
      margin-bottom: 1rem;
      text-align: center;
    }

    &__tags {
      justify-content: center;
      margin: 0 2.5rem;
      margin-bottom: 1.5rem;

      .tags__menu {
        display: block;
      }

      .projects__tag {
        display: none;
      }
    }

    &__imgs {
      grid-template-columns: 1fr;

      .imgs__column {
        .projects__img {
          img {
            filter: grayscale(0%);
          }

          img:hover {
            transform: none;
          }

          .img_miss {
            display: none;
          }

          .img_back {
            display: block;
          }

          .img__text {
            padding: 1.2rem 2rem;
            background: none;

            h5 {
              margin-bottom: 0px;
              font-size: 1.8em;
            }

            .text__tag {
              display: none;
            }
          }

          .text_miss {
            display: none;
          }
        }

        .projects__img::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.8deg, rgba(0, 0, 0, 0) 59.93%, rgba(0, 0, 0, 0.5) 97.58%);
        }

        .img_grid1 {
          display: none;
        }

        .img_grid2 {
          display: block;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__imgs {
      .imgs__column {
        .projects__img {
          .text_miss {
            display: block;
          }
        }
      }
    }

    &__btn {
      width: 100%;
    }
  }
}

.director {
  padding: 5rem 0;
  background-color: #2e2e31;

  &__title {
    margin-bottom: 1.75rem;
    font: $title25;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 2.2rem;

    .content__txt {
      p {
        letter-spacing: 2%;
      }

      p:first-of-type {
        margin-bottom: 1rem;
      }
    }

    .director__card {
      padding-left: 3rem;
      border-left: 2px solid #e74214;

      .card__img {
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;

        img {
          background-color: #4a4a4a;
          border-radius: 100%;
          object-position: top;
          object-fit: cover;
        }
      }

      .card__title {
        margin-bottom: 0.5rem;
        font: 700 1.6em/1em "BebasNeue";
      }

      .card__text {
        font: 400 0.9em/1.25em "Roboto";
      }
    }
  }

  @media (max-width: 980px) {
    & {
      background-color: #222224;
    }

    &__container {
      padding: 0 1rem;
    }

    &__title {
      display: none;
    }

    &__row {
      grid-template-columns: max-content 1fr;
      gap: 1.5rem;

      .content__txt {
        grid-column: 2/3;

        p:first-of-type {
          margin: 0;
        }
      }

      .director__card {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 0;
        padding-right: 3rem;
        border: none;
        border-right: 2px solid #e74214;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

.about {
  padding: 5rem 0;
  background-color: #2e2e31;

  .about__title {
    margin-bottom: 3rem;
    font: $title25;
  }

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    border: 1px solid #414141;

    .card__img {
      position: relative;
      height: 60px;
      margin-bottom: 2rem;
    }

    .card__text {
      margin-bottom: 2rem;
      text-align: center;
      flex-grow: 1;
    }

    .card__btn {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      margin: 0 auto;
      gap: 1rem;
      cursor: pointer;

      img {
        width: 30px;
      }
    }
  }

  &__card:hover {
    background-color: $color;
    border: none;
  }

  &__cards::before {
    position: absolute;
    content: "";
    left: 132px;
    bottom: -2rem;
    width: 112px;
    height: 2px;
    background-color: #e3e2e2;
  }

  &__cards::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2rem;
    width: 112px;
    height: 2px;
    background-color: #e74214;
  }

  @media (max-width: 1600px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1280px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 980px) {
    & {
      display: none;
    }
  }
}

.calculate {
  padding: 5rem 0;
  background-color: #2e2e31;

  &__title {
    margin-bottom: 2.5rem;
    text-align: center;
    font: 700 3.4em/1.1em "BebasNeue";
  }

  &__request {
    margin: 0 auto;
    color: #ffffff;

    .request__title {
      display: none;
      margin-bottom: 2rem;
      text-align: center;
      font: 700 3.9em/1em "BebasNeue";
    }

    .request__content {
      display: grid;
      grid-template-columns: 450px;
      justify-content: center;
      gap: 1.5rem;

      input {
        height: 70px;
        text-indent: 0.9rem;
        border-radius: 6px;
      }

      input::placeholder {
        color: #9a9a9a;
      }

      p {
        color: #a5a5a5;
        text-align: center;

        span {
          color: $color;
        }
      }

      .request__btn {
        padding: 1rem 2.5rem;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 980px) {
    & {
      padding: 5rem 0;
      background-color: #222224;
    }

    &__title {
      display: none;
    }

    &__request {
      padding: 3rem 2rem;
      background-color: #2e2e31;
      border-radius: 8px;

      .request__title {
        display: block;
      }

      .request__content {
        grid-template-columns: repeat(2, 1fr);

        p {
          text-align: start;
        }

        .request__btn {
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .request__content {
      grid-template-columns: 1fr;

      input {
        background-color: transparent;
        border: 2px solid #e5e5e5;
      }

      input:last-of-type {
        margin-bottom: 0.7rem;
      }

      .request__btn {
        grid-row: 3/4;
        padding: 1rem 2rem;
      }

      p {
        text-align: center;
      }
    }
  }
}

.footer {
  position: relative;
  padding: 5rem 0;
  padding-bottom: 2rem;
  background-color: #070707;

  &__rows {
    margin-bottom: 4rem;

    .row_1 {
      display: grid;
      grid-template-columns: max-content 1fr;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 3rem;

      .footer__logo {
        width: 190px;
        height: 37px;
      }

      .footer__list {
        justify-content: flex-end;
        font-size: 1.1em;
        line-height: 1.35em;
      }

      .menu a::after {
        top: 100%;
        left: 0;
      }

      .menu a:hover::after {
        width: 100%;
      }
    }

    .row_2 {
      display: flex;
      gap: 2.5rem;
      margin-bottom: 2.75rem;

      a {
        color: #e74214;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }

    .row_3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .footer__graph {
        .txt_1 {
          margin-bottom: 0.7rem;
        }

        .txt_2 {
          margin-bottom: 0.6rem;
        }
      }

      .footer__contact {
        display: grid;
        font-size: 1.1em;
        line-height: 1.25em;

        a {
          justify-self: end;
        }

        a:hover {
          color: $color;
        }

        a:last-of-type {
          align-self: flex-end;
          color: #e74214;
          text-decoration: underline;
          text-decoration-skip-ink: none;
        }
      }
    }

    .row_4 {
      display: none;
      color: #e74214;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    .row_5 {
      display: none;
    }
  }

  &__rows::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5rem;
    width: 100%;
    height: 0.6px;
    background-color: #e3e2e2;
  }

  @media (max-width: 980px) {
    &__container {
      padding: 0 1.5rem;
    }

    &__rows {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;
      row-gap: 1.6rem;
      margin-bottom: 1rem;

      .row_1 {
        height: 100%;
        grid-template-columns: 1fr;
        margin-bottom: 0px;

        .footer__nav {
          display: grid;
        }

        .footer__list {
          flex-direction: column;
          align-self: end;
          gap: 1.5rem;

          .miss {
            display: none;
          }
        }
      }

      .row_3 {
        grid-template-columns: 1fr;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1.7rem;

        .footer__graph {
          text-align: end;
          grid-row: 2/3;

          .footer__addres {
            margin-bottom: 1.5rem;
          }
        }

        .footer__contact {
          gap: 1.5rem;

          .miss {
            display: none;
          }
        }
      }

      .row_4 {
        display: block;
        grid-row: 2/3;
        grid-column: span 2;
      }

      .row_2 {
        grid-column: span 2;
      }
    }
  }

  @media (max-width: 480px) {
    &__rows {
      height: min-content;
      margin-bottom: 3rem;

      .row_1 {
        .footer__logo {
          width: 104px;
          height: 20px;
        }

        .miss_1 {
          display: none;
        }
      }

      .row_3 {
        grid-template-columns: none;
        font-size: 0.8em;

        .row_3 {
          grid-template-columns: none;

          .footer__graph {
            display: none;
          }
        }

        .row_2 {
          display: none;
        }

        .row_4 {
          grid-row: 3/4;
        }

        .row_5 {
          display: block;
          grid-row: 2/3;
          grid-column: span 2;
          margin-bottom: 0.2rem;

          .txt_1 {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

}

// animation
@keyframes curtains {
  from {
    transform: translateX(0px) rotate(30deg);
  }

  to {
    transform: translateX(500px) rotate(30deg);
    width: 0%;
  }

  to {
    width: 120%;
  }
}

.request {
  .request__step {
    overflow: hidden;
  }

  .request__step::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -100px;
    width: 100px;
    height: 250%;
    background-color: #ffffff44;
    transform: rotate(30deg);
    animation: curtains 3s infinite ease-in;
  }
}

//
.guarantees {
  overflow: hidden;

  .guarantees__img {
    overflow: hidden;

    img {
      animation: scl 3s infinite linear;
    }
  }

  @keyframes scl {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}
.services {
  .content__card {
    position: relative;
  }

  .content__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.142), rgba(255, 255, 0, 0.26), rgba(0, 0, 255, 0.144), rgba(255, 166, 0, 0.18));
    animation: back 5s infinite ease-in-out;
  }

  @keyframes back {
    0% {
      width: 0%;
    }

    50% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }
}